form {
  margin: 0px;
  padding: 0px;
  border: none;
}

body {
    background-image:url('background.gif');
}

#navigationForm {
    margin-bottom: 20px;
}

div.body {
    background-color:white;
    margin-top: 0px;
    padding-top: 0px;
}

a, a:visited {
  color: #dd291e;
}

a:hover, a:active {
  color: black;
}

div.header {
  height: 143px;
  color: white;
  background-color: #8da2cc;
  border-bottom: black 1px solid;
  margin-bottom: 0px;
  padding-bottom: 0px;
  position: relative;
  overflow: hidden;
}

.header a.logo {
  background-image: url('logoUPCE.gif');
  height: 143px;
  width: 277px;
  ddisplay: block;
  font-size: 1px;
  color: #dd291e;
  position: absolute;
  top: 0px;
  left: 0px;
}

.header div.slogan {
  background-image: url('slogan.gif');
  background-repeat: no-repeat;
  width: 100%;
  height: 143px;
  position: absolute;
  top: 0px;
  left: 277px;
}

ul.portlet-menu {
  background-image: none;
  background-color: #dd291e;
  text-align: left;
  border-bottom: solid 6px #c50000;
}

ul.portlet-menu li {
  border-width: 6px 15px 11px 15px;
}

ul.portlet-menu {
  padding-left: 15px;
}

ul.portlet-menu li input {
  color: white;
  margin: 0px 5px;
  padding: 3px 10px 4px 10px;
  overflow: visible;
}

.portlet-menu-item-selected input {
  background-color: #3c3c3c;
  border-color: #3c3c3c;
  border-style: solid;
  color: white;
}

ul.portlet-menu span {
  vertical-align: bottom;
}

ul.portlet-menu span img {
  position: relative;
  bottom: 5px;
}

div.portlet-menu {
  background-image: none;
  background-color: #ededed;
  line-height: 30px;
  vertical-align: middle;
  color: #474747;
  padding-left: 50px;
  border-top: 1px solid #bfbfbf;
  border-bottom: 6px solid #bfbfbf;
  text-align: left;
  font-size: 11px;
}

.portlet-section-header {
  color: black;
}

.portlet-section-subheader {
  color: black;
}

.portlet-table-header,
.portlet-table-header span,
.portlet-table-footer,
.portlet-table-footer span {
    background-color: #c0c0c0;
}

.portlet-table-alternate {
  background-color: #ededed;
}


.priority1 {
  color: #797944;
}

.priority2 {
  color: #b49950;
}

.priority3 {
  color: #dd8e28;
}

.priority4 {
  color: #ff761a;
}

.priority5 {
  color: #e61a1f;
}

.ticket-postpone td {
  font-size: 12px;
  padding: 3px;
}

table.ticket-postpone,
table.ticket-postpone tr,
table.ticket-postpone th,
table.ticket-postpone td {
  border-collapse: collapse;
  border: solid black 1px;
  text-align: center;
}

table.ticket-postpone {
  border-width: 2px;
}

.ticket-postpone-month {
  font-weight: bold;
}

.ticket-postpone-week td {
  font-weight: bold;
}

.ticket-postpone-today {
  background-color: #BFBFBF;
}

.portlet-msg-error {
  font-size: 20px;
  text-decoration: none;
  font-weight: bolder;
  background-color: red;
  color: white;
}
