body,a,p,h1,h2,td,th,li,address {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

body,p,td,th,li {
    font-size: 12px;
    color: Black;
}

a {
    text-decoration : underline;
    color : #dd291e;
    font-family : Verdana, Arial, Helvetica, sans-serif;
}

a:visited {
    color : #dd291e;
}

a:hover {
    color : #404040;
    text-decoration: underline;
}

h1 {
    font-size: 16px;
    color: black;
    font-weight: bold;
}

h2 {
    font-size: 14px;
    font-weight: bold;
    color: black;
}

h3 {
    font-size: 12px;
    font-weight: bold;
    color: black;
    font-style: italic;
}

address {
    color: #192A89;
    font-size: 10px;
}

th {
    background-color: #b0b0b0;
}

th,td {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.table-odd {
    background-color: #FFFFFF;
}

.table-even {
    background-color: #e0e0e0;
}

.table-selected {
    background-color: #FFCCCC;
}

.actionApplication {
    border-left-style:solid;
    border-left-color:grey;
}

.actionManager {
    border-left-style:solid;
    border-left-color:red;
}

.actionOwner {
    border-left-style:solid;
    border-left-color:orange;
}

.actionInvited {
    border-left-style:solid;
    border-left-color:blue;
}

.actionUser {
    border-left-style:solid;
    border-left-color:green;
}

.priority1 {
    color: #797944;
}

.priority2 {
    color: #b49950;
}

.priority3 {
    color: #dd8e28;
}

.priority4 {
    color: #ff761a;
}

.priority5 {
    color: #e61a1f;
}

table.history-first {
    width:100%;
    border: solid black 2px;
    padding: 0px;
    border-collapse: collapse;
}

.history-first td {
    padding: 1em;
}

.history-first p {
    font-size: 16px;
}

.history-first div {
    font-size: 14px;
}

hr {
    border: none;
    background-color: #b0b0b0;
    color: #b0b0b0;
    height: 0px;
}

p {
    margin: 0px;
}

table p {
    margin: 5px;
}

body.short-print,
body.short-print p,
body.short-print td,
body.short-print th,
body.short-print li {
    font-size: 15px;
}

body.short-print h1 {
    font-size: 19px;
}

body.short-print h2 {
    font-size: 17px;
}

body.short-print h3 {
    font-size: 15px;
}

body.short-print address {
    font-size: 12px;
}

body.short-print .history-first p {
    font-size: 19px;
}

body.short-print .history-first div {
    font-size: 17px;
}

body.short-print .attributes td.value {
    font-weight: bold;
}